<style type="text/css">
.landing-text {
	color: white;
}

body {
	background-image: url("http://apod.nasa.gov/apod/image/9712/orionfull_jcc_big.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
}

.heading {
	background:rgba(50,50,50,0.7);
	padding: 20px;

}
</style>

<div class="span10 heading">
	<div class="row-fluid">
    <div class="">
			<h1 class="landing-text">Flash Volunteer</h1>
		</div>
	</div>
  <div class="row-fluid">
		<h2 class="landing-text">Everyone engaged in volunteer service</h2>
	</div>
	<div class="row-fluid">
    <p class="landing-text">Flash Volunteer seeks to build community and increase volunteerism through
			 the creation of a sustainable, user-friendly online platform to connect,
			 inspire and mobilize volunteers to effect meaningful change on a neighborhood level.</p>
	</div>
	<div class="row-fluid">
		<div class="span7">
			<iframe height=300 class="full" src="https://www.youtube.com/embed/JwNmdp5sv4Y" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="span5">
			<div class="row-fluid" style="padding-bottom: 15px;" class="row-fluid">
				<input class="input" />
			</div>
			<div class="row-fluid" style="padding-bottom: 15px;" class="row-fluid">
				<input class="input" />
			</div>
			<div class="row-fluid">
				<button style="padding: 10px;" type="button" class="btn btn-primary full">
					Login
				</button>
			</div>
			<div class="row-fluid">
				<button style="padding: 10px;" type="button" class="btn btn-primary full">
	      	I am a volunteer
				</button>
			</div>

			<div class="row-fluid">
				<button style="padding: 10px;" type="button" class="btn btn-primary full">
	      	I am an organization
				</button>
			</div>
		</div>
	</div>
</div>
