.dash_nav {
  border: solid black 1px;
  text-align: center;
  background: #f9f8f6;
}

.dash_outline {
  border: solid black 1px;
  background: #f9f8f6;
}

.dash_row {
  margin-top: 15px;
}

.dash_module {
  text-align: center;
}

.dash_text {
  vertical-align: middle;
}

.dash_nav_l {
  padding-top: 5px;
  padding-bottom: 5px;
  display:inline-block;
}

.dash_nav_r {
  padding-top: 5px;
  padding-bottom: 5px;
  display:inline-block;
}
