<div style="background-color:white;border:1px solid lightgrey;padding:10px;">
  <p>
    Your daily data is measured in Pacific Standard Time
    <div class="pull-right">
      <label for="start_time_input" style="display:inline;">Start Time: </label>
      <input id="start_time_input" /><br><br>
      <label for="end_time_input" style="display:inline;">End Time: </label>
      <input id="end_time_input" /><br><br>
    </div>
    <br><br><br><br>
  </p>
</div>